<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: 500 Error
  screenshotPath: ../../images/template-previews/500.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 500 | Server error" %}

{% block body %}
<section>
  <div class="error-page" data-error="500">
    <div class="error-page-content">
      <div class="error-headline">
        {% module 'content'
          path='@hubspot/rich_text',
          html='<h1>Something isn\'t quite right</h1>'
        %}
        </div>
        <div class="error-message">
        {% module 'content'
        path='@hubspot/rich_text',
        html='<h3>Sorry, an internal server error occurred.</h3>'
      %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}