<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Mosaic - email subscription preferences
  screenshotPath: ../../images/template-previews/subscription-preferences.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Subscription preferences" %}

{% block body %}
<section class="">
  <div class="systems-page">
    <div class="systems-page-content subscription-preferences">
      {% module 'subscription_preferences'
        path='@hubspot/email_subscriptions'
        subheader_text = "<h3 class='subscription-subheader_text'>If this is not your email address, please ignore this page since the email associated with this page was most likely forwarded to you.</h3>",
        unsubscribe_single_text = "<h3 class='subscription-single_text'><b>Uncheck the types of emails you do not want to receive:</b></h3>"
      %}
    </div>
  </div>
</section>
{% endblock body %}
