<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Email Subscriptions Confirmation
  screenshotPath: ../../images/template-previews/subscriptions-confirmation.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Confirm subscriptions" %}

{% block body %}
<section class="">
  <div class="systems-page">
    <div class="systems-page-content">
      <div class="subscription_confirmation">
        {% module 'subscriptions_confirmation'
          path='@hubspot/email_subscriptions_confirmation',
          subheader_text = "<h3 class='confirmation-subheader_text'>If this is not your email address, please ignore this page since the email associated with this page was most likely forwarded to you.</h3>"
        %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}
