.logos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 20%;
  padding: 50px 20px;
}

.logo img {
  max-width: 100% !important;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 100%;
    padding: 20px 0;
  }
}