:root {
  /* Colors */
  --theme-primary: #333;
  --theme-secondary: #88abc4;
  --theme-tertiery: #516984;
  --theme-quaternary: #ebebeb;
  --theme-quinary: #ededed;
  --theme-senary: #fff;

  /* Device Widths */
  --desktop: 1200px;
  --tablet: 960px;
  --xs-tablet: 768px;
  --phone: 480px;

  /* Margin Widths */
  --main: var(--desktop);
  --lg: var(--tablet);
  --md: var(--xs-tablet);
  --sm: var(--phone);

  /* Section padding */
  --section-padding-vertical: 200px;
  --section-padding-horizontal: 20px;

  /* Typography */
  --font-family: 'DM Sans';
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --h1-color: var(--theme-primary);
  --h1-font: var(--font-family);
  --h1-font-size: 72px;
  --h1-font-weight: var(--font-weight-bold);
  --h1-line-height: 64px;
  --h1-letter-spacing: 0px;
  --h1-text-transform: none;

  --h2-color: var(--theme-primary);
  --h2-font: var(--font-family);
  --h2-font-size: 54px;
  --h2-font-weight: var(--font-weight-bold);
  --h2-line-height: 57px;
  --h2-letter-spacing: 0px;
  --h2-text-transform: none;

  --h3-color: var(--theme-primary);
  --h3-font: var(--font-family);
  --h3-font-size: 32px;
  --h3-font-weight: var(--font-weight-normal);
  --h3-line-height: 41px;
  --h3-letter-spacing: 0px;
  --h3-text-transform: none;

  --h4-color: var(--theme-primary);
  --h4-font: var(--font-family);
  --h4-font-size: 26px;
  --h4-font-weight: var(--font-weight-normal);
  --h4-line-height: 32px;
  --h4-letter-spacing: 0px;
  --h4-text-transform: none;

  --h5-color: var(--theme-primary);
  --h5-font: var(--font-family);
  --h5-font-size: 14px;
  --h5-font-weight: var(--font-weight-normal);
  --h5-line-height: 24px;
  --h5-letter-spacing: 4.2px;
  --h5-text-transform: uppercase;

  --h6-color: var(--theme-primary);
  --h6-font: var(--font-family);
  --h6-font-size: 14px;
  --h6-font-weight: var(--font-weight-normal);
  --h6-line-height: 24px;
  --h6-letter-spacing: 0px;
  --h6-text-transform: none;

  --body-font: var(--font-family);
  --body-font-size: 16px;
  --body-line-height: 22px;

  /* Button */
  --button-font-size: 16px;
  --button-font-weight: var(--font-weight-bold);
  --button-line-height: 19px;
  --button-color: var(--theme-senary);
  --button-background: var(--theme-tertiery);
  --button-border-color: var(--theme-tertiery);

  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;

  --button-border-radius: 0;

  /* Button Border Width */
  --button-top-width: 1px;
  --button-right-width: 1px;
  --button-bottom-width: 1px;
  --button-left-width: 1px;

  /* Button Border Style */
  --button-top-style: solid;
  --button-right-style: solid;
  --button-bottom-style: solid;
  --button-left-style: solid;

  /* Button Border Color */
  --button-top-color: var(--theme-tertiery);
  --button-right-color: var(--theme-tertiery);
  --button-bottom-color: var(--theme-tertiery);
  --button-left-color: var(--theme-tertiery);

  /* Grid */
  --grid-gap: 30px;

  /* Header */
  --header-color: var(--theme-primary);
  --header-background: var(--theme-senary);

  --header-nav-link-color: var(--theme-primary);
  --header-nav-link-font: var(--font-family);
  --header-nav-link-font-size: 16px;
  --header-nav-link-font-weight: 700;
  --header-nav-link-line-height: 14px;
  --header-nav-link-letter-spacing: 0px;

  --header-sub-nav-background: #f5f5f5;
  --header-sub-nav-link-color: var(--theme-primary);
  --header-sub-nav-link-font: var(--font-family);
  --header-sub-nav-link-font-size: var(--header-nav-link-font-size);
  --header-sub-nav-link-font-weight: var(--header-nav-link-font-weight);
  --header-sub-nav-link-line-height: var(--header-nav-link-line-height);
  --header-sub-nav-link-letter-spacing: var(--header-nav-link-letter-spacing);

  /* Footer */
  --footer-background: var(--theme-tertiery);
  --footer-color: var(--theme-senary);
  --footer-font-size: 16px;
  --footer-line-height: 22px;
  --footer-letter-spacing: 0px;
  --footer-text-transform: none;

  --footer-nav-link-color: var(--theme-senary);
  --footer-nav-link-font: var(--font-family);
  --footer-nav-link-font-size: 16px;
  --footer-nav-link-font-weight: 700;
  --footer-nav-link-line-height: 14px;
  --footer-nav-link-letter-spacing: 0px;

}
