.split-grid {
  display: flex;
  position: relative;
}
.split-left {
  display: inline-block;
  max-width: 100%;
  width: 50%;
  margin-right: -100px;
  position: relative;
  z-index: 99999;
}

.split-left-content {
  padding: 50px;
  position: absolute;
  top: 20%;
}

.split-right {
  display: inline-block;
  max-width: 100%;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .split-grid {
    display: block;
  }
  .split-left,
  .split-right {
    width: 100%;
  }
  .split-left-content {
    position: relative;
    top: 0;
  }
}