.footer {
    color: var(--footer-color);
    background: var(--footer-background-color);
}

.footer .footer__container {
    max-width: 100%;
    padding: 0;
}

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
    color: var(--footer-color);
}