.featured-post {
  display: flex;
  position: relative;
  padding-bottom: 150px;
}
.featured-post-info-container {
  display: inline-block;
  max-width: 100%;
  width: 50%;
  margin-right: -100px;
  position: relative;
  z-index: 99999;
}

.featured-post-info {
  padding: 30px 50px;
  position: absolute;
  top: 15%;
}

.featured-post-image {
  display: inline-block;
  max-width: 100%;
  width: 50%;
}

.featured-post-image img {
  height: 650px;
  width: 100%;
  object-fit: cover;
}


@media only screen and (max-width: 768px) {
  .featured-post {
    display: block;
    padding-bottom: 75px;
  }
  .featured-post-info-container {
    width: 100%;
  }
  .featured-post-info {
    padding: 25px;
  }
  .featured-post-info,
  .featured-post-image {
    width: 100%;
  }
  .featured-post-info {
    position: relative;
    top: 0;
  }
}