button,
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  letter-spacing: var(--button-letter-spacing);
  border-radius: var(--button-border-radius);
  text-transform: var(--buton-text-transform);

  /* Border Width */
  border-top-width: var(--border-top-width);
  border-bottom-width: var(--border-bottom-width);
  border-right-width: var(--border-right-width);
  border-left-width: var(--border-left-width);

  /* Border Style */
  border-top-style: var(--border-top-style);
  border-bottom-style: var(--border-bottom-style);
  border-right-style: var(--border-right-style);
  border-left-style: var(--border-left-style);

  /* Border Color */
  border-top-color: var(--border-top-color);
  border-bottom-color: var(--border-bottom-colo);
  border-right-color: var(--border-right-color);
  border-left-color: var(--border-left-color);
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: #e6e6e6;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}
