.column {
  float: left;
  width: 33.33%;
  padding: 30px 10px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}